body {
    font-family: 'Avenir', sans-serif;
    color: #353D40;
    background-color: #ffffff;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
}

.carousel-item img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}